
:root {
  font-size: 16px;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-variation-settings: "wght" 300;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f0c29;
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  min-height: 100vh;
}

.main {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05) 50px, transparent 100px);
  background-position: 0 0px;
  background-repeat: no-repeat;
  max-width: 90vw;
  margin: 0 1rem;
}

h1 {
  animation: flicker 1.5s infinite alternate;
  border-radius: 2rem;
  border: .2rem solid #fff;
  color: #fff;
  font-size: 3rem;
  font-variation-settings: "wght" 300;
  font-weight: 300;
  mix-blend-mode: color-dodge;
  padding: 3rem 1rem;
  text-align: center;
}
@media screen and (min-width: 320px) {
  h1 {
    font-size: 4rem;
  }
}

@media screen and (min-width: 400px) {
  h1 {
    font-size: 7rem;
  }
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 9rem;
    padding: 3rem 4rem;
  }
}

h1::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

h1:focus {
  outline: none;
}

.footer {
  bottom: 0;
  color: white;
  padding: 3rem 1rem 1rem;
  position: absolute;
}

.paragraph {
  font-size: .75rem;
}

.paragraph a,
.paragraph a:visited {
  color: white;
  font-weight: bold;
  font-variation-settings: "wght" 700;
}

.logo {
  width: 15rem;
}
.logo path {
  fill: white;
}